DATABASE_URL="postgresql://postgres.fernccmovzsbmthisavm:YOUR_NEW_PASSWORD@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"
DIRECT_URL="postgresql://postgres:YOUR_NEW_PASSWORD@db.fernccmovzsbmthisavm.supabase.co:5432/postgres?sslmode=require"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
